*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.7rem;
  &-thumb {
    background-color: $color-primary;
  }
}

ul {
  list-style: none;
}

img {
  width: 100%;
}
