.blog-card {
  display: flex;
  flex-direction: column;
  background: $color-bg;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 0px $color-shadow, -2px 0px 1px 0px $color-shadow;
  overflow: hidden;

  &__img {
    width: 100%;
    height: 12rem;
    object-fit: cover;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  &__body {
    flex: 1;
  }

  &__title {
    color: $color-primary;
    font-size: $font-xmd;
    font-weight: 700;
  }

  &__text,
  &__footer {
    margin-top: 1.125rem;
  }
}
