.brand {
  padding:0.5rem  1rem;
  color: $color-primary;
  font-size: $font-xxmd;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid $color-secondary;
  border-radius: 5px;
}
