.brand {
  padding: 0.625rem 1rem;
  color: $color-primary;
  font-size: $font-lg;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: 2px solid $color-secondary;
  border-radius: 5px;
}
